<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid col-8">
    <div class="col-6 container align-content-lg-center">
        <div class="shadow align-content-center">
            <input placeholder="Customer id" class="mb-3 shadow">
            <button class="btn text-bg-info"> Search </button>
        </div>
        <div class="shadow align-content-center">
            <form th:action="@{/customerForm}" method="get">
                <button class="btn text-bg-warning">Insert new customer</button>
            </form>
        </div>
    </div>


    <div class="container col-8">
        <table class="table table-bordered text-bg-primary table-light table-striped-columns">
            <thead>
            <td>Id</td>
            <td>Firs name</td>
            <td>Last name</td>
            <td>Phone number</td>
            <td>Email</td>
            </thead>
            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.id}"/>
                <td th:text="${customer.firstName}"/>
                <td th:text="${customer.lastName}"/>
                <td th:text="${customer.phoneNumber}"/>
                <td th:text="${customer.email}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>