<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
</head>
<body>
<span>
    <input placeholder="Customer id">
    <button>
        Search
    </button>
</span>

    <div>
        <table>
            <thead>
            <td>Id</td>
            <td>Firs name</td>
            <td>Last name</td>
            <td>Phone number</td>
            <td>Email</td>
            </thead>
            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.id}"/>
                <td th:text="${customer.firstName}"/>
                <td th:text="${customer.lastName}"/>
                <td th:text="${customer.phoneNumber}"/>
                <td th:text="${customer.email}"/>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>