<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
  <div class="container-fluid col-4">
      <h3>
        New customer
      </h3>

      <form action="#" method="post" th:action="@{/submitCustomer}" th:object="${customer}">
        <div class="mb-3">
          <label class="form-label">First name</label>
          <input class="form-control" th:field="${customer.firstName}" type="text">
        </div>

        <div class="mb-3">
          <label class="form-label">Last name</label>
          <input class="form-control" th:field="${customer.lastName}" type="text">
        </div>

        <div class="mb-3">
          <label class="form-label">Phone number</label>
          <input class="form-control" th:field="${customer.phoneNumber}" type="text">
        </div>


        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" th:field="${customer.email}" type="text">
        </div>

        <div class="form-group row">
          <button class="btn btn-primary" type="submit">
            Submit
          </button>
        </div>

      </form>
    </div>
  </div>
</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>